doctype html
html
  head
    title login
    link(rel="stylesheet", type="text/css", href="login.css")
  body
    form
      label(for="username") username
      input(name="username", type="text")
      label(for="password") password
      input(name="password", type="password")
      button.submit(type="submit") login
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(type="text/javascript", src="login.js")