doctype html
html
  head
    title login
    link(rel="stylesheet", type="text/css", href="login.css")
  body
    div.login-form
      if error
        p.error Invalid Username or Password
      form(action="/login/auth", method="POST")
        label(for="username") Username
        input#username(name="username", type="text")
        label(for="password") Password
        input#password(name="password", type="password")
        input#hash(name="hash", type="hidden")
        button.submit(type="submit") Login
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js")
    script(type="text/javascript", src="login.js")