body {
  background-color: #f1f1f1;
  font: 15px Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.login-form {
  background-color: #fff;
  border: 1px solid #9bf;
  margin: 25px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 270px;
}
.login-form p {
  background-color: #fcc;
  border: 1px solid #ff0900;
  color: #ff0900;
  padding: 10px;
  position: absolute;
  left: 40px;
  top: 0;
}
.login-form form {
  margin: 40px 30px 10px;
}
.login-form label {
  line-height: 25px;
}
.login-form input {
  line-height: 25px;
  margin-bottom: 10px;
  width: 200px;
}
.login-form button {
  background-color: #ff0;
  border: 0;
  line-height: 30px;
  margin-top: 15px;
  width: 100px;
}
.login-form button:hover {
  background-color: #fc0;
}
